<header class="d-flex justify-content-center py-3" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/"
                class="nav-link {% if active_tab == 'view_products' %}active{% endif %}">Ассортимент</a></li>
        <li class="nav-item"><a href="/categories_and_tags/"
                class="nav-link {% if active_tab == 'view_categories_and_tags' %}active{% endif %}">Категории и Теги</a>
        </li>
        <li class="nav-item"><a href="/cart/"
                class="nav-link {% if active_tab == 'view_cart' %}active{% endif %}">Корзина</a></li>
        <li class="nav-item"><a href="/profile/"
                class="nav-link {% if active_tab == 'view_profile' %}active{% endif %}">Профиль</a></li>
    </ul>
</header>